<mat-card style="width: 75%; border-style: solid; border-color: #ffc324;" class="center">
<div class="center" style="width: 80%; height: 50px;" >
  <mat-card class="center" style="text-align: center; color: rgb(255, 0, 128); font-size: 30px; background-color: #ffc324; width: 80%; height: 25px;">MANGO INFORMATION</mat-card>
</div>
<div class="center" style="text-align: center; height: 20px; margin-top: 10px; color: rgb(24, 185, 158);"><label><b><h2> <u>TWO WAY DATA BINDING</u></h2></b></label></div>
  <br><br>

  <div class="center" style="width: 70%; height: 60px; text-align: center;">
  <form class="example-form ">
    <label style="font-size: large; color: rgb(74, 41, 192);"><b>ENTER YOUR NAME :</b> </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class=" center" appearance="fill" style="width: 40%; height: 30xp;">

      <input matInput placeholder="Ex. Shital"  style="height: 20px; font-size: 20px" [(ngModel)]="name" name="name">

    </mat-form-field>
    </form>
    </div>
    <div class="center" style="width: 70%; height: 60px; text-align: center;">
      <form class="example-form ">
        <label style="font-size: large;color: rgb(74, 41, 192);"><b>ENTER YOUR EMAIL :</b> </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class=" center" appearance="fill" style="width: 40%; height: 30xp;">

          <input matInput placeholder="Ex. abc@pqr.com" style="height: 20px; font-size: 20px" [(ngModel)]="email" name="email">

        </mat-form-field>
        </form>
        </div>
        </mat-card>
        <p class="center" style="text-align: center; color: purple;"><b><h1><u></u>Thank You, {{name}}<br>Your Email Id : {{email}}</h1></b></p>

        <mat-card style="width: 75%; border-style: solid; border-color: #ffc324;" class="center">
  <div class="example-button-row center" style="text-align: center; height: 70px;" >
    <div class="center" style="text-align: center; height: 20px; margin-top: 10px; color: rgb(24, 185, 158);"><label><b><h2> <u>EVENT BINDING AND STRING INTERPOLATION</u></h2></b></label></div><br>
    <p class="center" style="text-align: center;"><b><h1><u></u>{{info}}</h1></b></p><br>
    <button mat-raised-button color="accent" style="width: 20%; font-size: large;" (click)="showinfo()">SHOW INFORMATION</button>
          </div><br><br><br><br>
          <p class="center" style="text-align: center;color: rgb(74, 41, 192);"><b><h2>{{mg}}</h2></b></p><br><br>
          </mat-card><br>
          <mat-card style="width: 75%; border-style: solid; border-color: #ffc324;" class="center">
<div class="center" style="text-align: center; height: 20px; margin-top: 10px;color: rgb(24, 185, 158);"><label><b><h2> <u>PROPERTY BINDING</u></h2></b></label></div><br>
<p style="text-align: center;">
  <img [src]="imageUrl" height="300px" width="300px" style="justify-content: center;">
</p>
</mat-card>
